:root {
  --main-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
  /* color */
  --main-title: #2f303a;
  --hero-bg: #000000;
  --filter-btn: #212121;
  --address: #757575;
  --bg-btn: #2196f3;
  --color-btn: #ffffff;
  --filter-gd-btn: #f5f4fa;
  /* Others */
  --trns-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* reset start*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.btn {
  border-radius: 4px;
  border: none;
  font-family: var(--main-font);
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  list-style: none;
  cursor: pointer;
}

.hero-button {
  background-color: var(--bg-btn);
  line-height: 1.88;
  color: var(--color-btn);
  font-weight: 700;
  padding: 10px 32px;
  margin-top: 30px;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--trns-hover);
  transition: background-color var(--trns-hover);
}
.hero-button:hover, .hero-button:focus {
  background-color: #188ce8;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter__button {
  background-color: var(--filter-gd-btn);
  line-height: 1.62;
  color: var(--filter-btn);
  font-weight: 500;
  margin-left: 8px;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  -webkit-transition: color var(--trns-hover), background-color var(--trns-hover), -webkit-box-shadow var(--trns-hover);
  transition: color var(--trns-hover), background-color var(--trns-hover), -webkit-box-shadow var(--trns-hover);
  transition: color var(--trns-hover), background-color var(--trns-hover), box-shadow var(--trns-hover);
  transition: color var(--trns-hover), background-color var(--trns-hover), box-shadow var(--trns-hover), -webkit-box-shadow var(--trns-hover);
}
.filter__button:nth-of-type(1) {
  margin-left: 0px;
}
.filter__button:hover, .filter__button:focus {
  color: var(--color-btn);
  background-color: var(--bg-btn);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.sign-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.88;
  color: var(--color-btn);
  font-weight: 700;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  background-color: var(--bg-btn);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--trns-hover);
  transition: background-color var(--trns-hover);
}
.sign-button:hover, .sign-button:focus {
  background-color: #188ce8;
}
.sign-button__icon {
  fill: var(--color-btn);
  margin-left: 10px;
}

.submit__button {
  display: block;
  line-height: 1.88;
  color: var(--color-btn);
  font-weight: 700;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  background-color: var(--bg-btn);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color var(--trns-hover);
  transition: background-color var(--trns-hover);
}
.submit__button:hover, .submit__button:focus {
  background-color: #188ce8;
}

.close__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill var(--trns-hover);
  transition: fill var(--trns-hover);
}
.close__btn:hover .close__icon {
  fill: var(--bg-btn);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line */
.header-line {
  border-bottom: 1px solid #ececec;
}

/*address header*/
.mailto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--address);
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  padding: 32px 0px;
  -webkit-transition: color var(--trns-hover);
  transition: color var(--trns-hover);
}
.mailto:hover, .mailto:focus {
  color: var(--bg-btn);
}

.mail-icon {
  fill: currentColor;
  margin-right: 10px;
}

.tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--address);
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  padding: 32px 0px;
  -webkit-transition: color var(--trns-hover);
  transition: color var(--trns-hover);
}
.tel:hover, .tel:focus {
  color: var(--bg-btn);
}

.tel-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* logo header*/
.logo-link {
  font-family: var(--logo-font);
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  color: var(--bg-btn);
}

.logo-header {
  color: var(--hero-bg);
}

.logo-footer {
  color: var(--color-btn);
}

/* nav header*/
.header-nav {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--filter-btn);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  position: relative;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.link-nav {
  position: relative;
  display: block;
  color: var(--filter-btn);
  padding: 32px 0px;
  -webkit-transition: color var(--trns-hover);
  transition: color var(--trns-hover);
}
.link-nav:hover, .link-nav:focus {
  color: var(--bg-btn);
}

.link-nav not-last-child {
  margin-right: 50px;
}

.current {
  color: var(--bg-btn);
}
.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.hero {
  text-align: center;
  background: var(--main-title);
  padding: 200px 0;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3636363636;
  color: var(--color-btn);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  max-width: 696px;
  margin: 0 auto;
}

.specialty {
  padding-top: 94px;
}

.specialty__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature__title {
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--filter-btn);
  margin-bottom: 10px;
  font-size: 14px;
}

.feature__lead {
  font-weight: 400;
  line-height: 1.71;
  color: var(--address);
  width: 270px;
}

.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  color: var(--filter-btn);
  margin-bottom: 50px;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.works__card {
  position: relative;
}

.works__description {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.1428571429;
  color: var(--color-btn);
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--filter-gd-btn);
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  margin-bottom: 50px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.name {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name__card {
  padding: 30px 0;
  text-align: center;
  width: 270px;
  background: var(--color-btn);
}

.name__person {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  margin-bottom: 10px;
}

.name__lead {
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 16px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background-color: var(--color-btn);
  border-radius: 50%;
  -webkit-transition: color var(--trns-hover), background-color var(--trns-hover);
  transition: color var(--trns-hover), background-color var(--trns-hover);
}
.socials__link:hover, .socials__link:focus {
  color: var(--color-btn);
  background-color: var(--bg-btn);
}

.socials__icon {
  fill: currentColor;
}

.socials__link--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color var(--trns-hover);
  transition: background-color var(--trns-hover);
}

.socials__link--footer:hover,
.socials__link--footer:focus {
  background-color: var(--bg-btn);
}

.socials__icon--footer {
  fill: var(--color-btn);
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  margin-bottom: 50px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color var(--trns-hover);
  transition: color var(--trns-hover);
}
.clients__link:hover, .clients__link:focus {
  color: var(--bg-btn);
}

.clients__icon {
  fill: currentColor;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.project__link {
  display: block;
  -webkit-transition: var(--trns-hover), -webkit-box-shadow;
  transition: var(--trns-hover), -webkit-box-shadow;
  transition: box-shadow, var(--trns-hover);
  transition: box-shadow, var(--trns-hover), -webkit-box-shadow;
}
.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--trns-hover);
  transition: -webkit-transform var(--trns-hover);
  transition: transform var(--trns-hover);
  transition: transform var(--trns-hover), -webkit-transform var(--trns-hover);
}

.project__link:hover .project__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__link:focus .project__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__description {
  position: absolute;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--color-btn);
}

.project__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--filter-btn);
  margin-bottom: 4px;
}

.project__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--address);
}

.project__title {
  padding: 20px 24px;
  background: var(--color-btn);
  border: 1px solid #eeeeee;
}

.footer {
  background-color: var(--main-title);
  padding: 60px 0;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.address {
  margin-top: 20px;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-footer {
  text-decoration: none;
  line-height: 1.71;
}

.address-map {
  color: var(--color-btn);
  font-style: normal;
  -webkit-transition: color var(--trns-hover);
  transition: color var(--trns-hover);
}
.address-map:hover, .address-map:focus {
  color: var(--bg-btn);
}

.mailto-footer {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--trns-hover);
  transition: color var(--trns-hover);
}
.mailto-footer:hover, .mailto-footer:focus {
  color: var(--bg-btn);
}

.tel-footer {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--trns-hover);
  transition: color var(--trns-hover);
}
.tel-footer:hover, .tel-footer:focus {
  color: var(--bg-btn);
}

.join {
  margin-left: 70px;
}

.join__title {
  font-weight: 700;
  line-height: 1.1428571429;
  color: var(--color-btn);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.sign {
  margin-left: auto;
}

.sign__title {
  font-weight: 700;
  line-height: 1.1428571429;
  color: var(--color-btn);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.sign__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign__input {
  width: 358px;
  height: 50px;
  padding: 15px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}

.sign__label {
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--trns-hover), visibility var(--trns-hover);
  transition: opacity var(--trns-hover), visibility var(--trns-hover);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  max-height: 581px;
  height: 100%;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--color-btn);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.is-hidden .modal {
  -webkit-transform: translateX(-50%) translateY(-30%);
          transform: translateX(-50%) translateY(-30%);
}

.form-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--address);
}

.form-control {
  position: relative;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--trns-hover);
  transition: border-color var(--trns-hover);
}
.form-input:hover, .form-input:focus {
  border-color: var(--bg-btn);
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--filter-btn);
  -webkit-transition: fill var(--trns-hover);
  transition: fill var(--trns-hover);
}

.form-input:hover + .form-icon {
  fill: var(--bg-btn);
}

.form-input:focus + .form-icon {
  fill: var(--bg-btn);
}

.form-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--trns-hover);
  transition: border-color var(--trns-hover);
}
.form-textarea:hover, .form-textarea:focus {
  border-color: var(--bg-btn);
}

.checkbox-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox-label {
  display: inline-block;
  position: relative;
  line-height: 1.7142857143;
  padding-left: 36px;
  margin-bottom: 30px;
  color: var(--address);
}

.checkbox-link {
  color: var(--bg-btn);
}

.checkbox-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
  border: 1px solid var(--filter-btn);
  border-radius: 2px;
}

.checkbox-input:checked + .checkbox-icon {
  border-color: #2196f3;
  background-size: contain;
  background-origin: border-box;
  background-image: url(../images/check.svg);
}/*# sourceMappingURL=main.css.map */